APP_ENV=local
APP_KEY=SomeRandomString
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://dictorpus.local
APP_ROOT=E:\projects\dictorpus\
TMP_DIR=/tmp
APP_LOG=single
SESSION_COOKIE=dictorpus_session

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=dictorpus
DB_USERNAME=dictorpus_user
DB_PASSWORD=dictorpus_pass
DB_ROOT_PASSWORD=root_pass

TOPKAR_DATABASE=topkar
TOPKAR_URL=http://topkar.local/

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AUTH_MAIL_FROM=noreply@dictorpus.local

PHRASE_ID = 19
PLOT_CELEBRATION_ID=53

DICTORPUS_PATH=E:/projects/dictorpus
TOPKAR_PATH=E:/projects/topkar
ASPOS_PATH=E:/projects/aspos
RISTIKANZA_PATH=E:/projects/ristikanza

HTTP_PORT=80
APP_TIMEZONE=Europe/Moscow