@import url(buttons.css);
@import url(fonts.css);
@import url(forms.css);

body {
    background: url(/images/bg_decor.png) 0 0 no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a,
a:active,
a:focus,
a:hover {
    color: #972d1a;
    text-decoration: underline;
}

.link-color {
    color: #972d1a;    
}

.btn {
    text-decoration: none;
}

.panel-default {
    border-color: #d6d6d6;
    border-radius: 0;
}

.panel-body {
    font-size: 14px;
    padding: 36px 4% 37px;
    line-height: 150%;
    position: relative;
}

.text-page {
    line-height: 22px;
    padding-top: 20px;
}
.text-page p {
    margin: 0 0 20px;
}

h1:before {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    content: '';
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.footer {
    background-color: #373737;
    color: #fff;
    margin-top: 35px;
    padding: 35px 0 100px;
}

.footer-right-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 12%;
}

.developers:before {
    background: #fefefe url(../images/krc-logo.png) 50% 32px no-repeat;
    border-top: 2px solid #dbd8d8;
    content: '';
    height: 136px;
    left: 0;
    position: absolute;
    top: -35px;
    width: 98px;
}

.developers a {
    color: #fff;
    text-decoration: none;
}

.license a {
    color: #6d6d6d;
    text-decoration: underline;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}

.reload {
    cursor: pointer;
}


@media (min-width: 992px) {
    h1:before {
        top: 7px;
    }
}
@media (max-width: 1199px) {
    .developers {
        font-size: 14px;
        line-height: 18px;
    }
}