/* meanings is not checked and the lemma has more than one meaning = red */
.lemma-linked.gramset-polysemy {
    color: red;
}
/*  meanings is not checked and the lemma has one meaning = blue */
.lemma-linked.gramset-not-checked {
    color: #337ab7;
}

.lemma-linked.meaning-checked.gramset-not-checked,
.lemma-linked.meaning-polysemy.gramset-checked,
.lemma-linked.meaning-not-checked.gramset-checked, 
.lemma-linked.meaning-not-checked.no-gramsets
.lemma-linked.meaning-polysemy.no-gramsets {
    color: #2eafaf;
}


