@import url(general.css);

.page-b {
    line-height: 150%;
    font-size: 16px;
    text-align: justify;
}

#letter-b {
    background-color: #f9f8f8;
    padding: 0 15px;
    text-align: center;
}

#letter-links a {
    cursor: pointer;
    padding: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #911917;
    font-weight: bold;
    font-size: 14px;
}

#header {
    padding: 30px 0 20px;
}
.logo {
    display: block;
}

.logo img {
    height: auto;
    padding-right: 20px;
    width: 130px; 
}

.logo a {
    color: #ff3723;
    font-size: 18px;
    text-decoration: none;
}

.logo .site-title-1 {
    color: #e3000f;
    display: block;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
}

.logo .site-title-2 {
    color: #e51220;
    display: block;
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 35px;
}

.logo a:hover {
    color: #ff3723;
}

.concept-b {
    background-color: #ff4d2a1f;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    height: 230px;
    width: 300px;
    
}

.concept-b img {
    max-height: 150px;
    max-width: 200px;
}

.concept-t a {
    font-size: 18px;
    text-decoration: none
}

.concept-t:first-letter {
    color: #e3000f;
    font-size: 24px;
    text-transform: uppercase;
}

.lang-sm.lang-lbl {
    color: #7d7d7d;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 5px;
    line-height: 16px;
}

.menu {
    padding: 20px 0 0;
}

.menu li {
    display: inline-block;    
}

#letter-links .letter-active {
    background-color: #e31e24;
    color: #fff;
    text-decoration: none;
}

#letter-links .letter-active:hover {
    color: #fff;
    text-decoration: none;
}

#letter-links a:hover {
    color: #e31e24;
    text-decoration: underline;
}

.panel {
    margin-top: 20px;
}

h1 {
    color: #ef3928;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    padding-left: 43px;
    position: relative;
}

h1:first-letter {
    color: #911917;
    font-size: 24px;
    text-transform: uppercase;
}

.concept-page-photo {
    text-align: right;
}

.concept-page-photo img {
    max-width: 200px;
}

.audio-button {
    display: inline-block;
    position: relative;
    top: 5px;
}

.lemma-b div.essential_audio.circle {
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 8px 0 5px 10px;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div {
    width: 26px;
    height: 20px;
    top: -8px;
    left: 0;
    margin-left: 2px;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div:after {
    top: -1px;
    left: -1px;
    width: 68%;
    height: 68%;
}

.lemma-b h3 {
    font-weight: bold;
    font-size: 16px;
}

.lemma-phrase {
    position: relative;
    margin-bottom: 5px;
}

#lemma-phrases {
    margin-top: 10px;
    padding-left: 25px;
}

#lemma-phrases .essential_audio {
    position: absolute;  
    left: -35px;
    top: -7px;
}
.lemma-b .lemma-phrase div.essential_audio.circle > div:nth-child(1) div {
    top: 2px;
    left: 0px;
}

.developers {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    max-width: 330px;
    min-height: 120px;
    padding: 0 0 30px 113px;
    position: relative;
}

.license {
    color: #d4d4d4;
    font-size: 15px;
    font-style: italic;
    line-height: 22px;
    padding-bottom: 30px;
    max-width: 300px;
}

.copyright-b {
    align-items: center;
    display: flex;
    font-size: 15px;
    line-height: 20px;
/*    margin: -10px;*/
    max-width: 260px;
    position: relative;
}

.copyright-b img{
    display: inline-block;
    padding: 0 10px 10px 0;
}

.copyright-b a {
    color: #fff;  
    text-decoration: none;
}

label {
  display: inline;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.audio-button {
    display: inline-block;
    position: relative;
    top: 5px;
}

.lemma-b div.essential_audio.circle {
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 8px 0 5px 10px;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div {
    width: 26px;
    height: 20px;
    top: -8px;
    left: 0;
    margin-left: 2px;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div:after {
    top: -1px;
    left: -1px;
    width: 68%;
    height: 68%;
}

.lemma-b h2 {
    color: #911917;
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px 5px 0 0;
}











@media (min-width: 576px) {   
    .logo {
        display: flex;
        align-items: center;
    }
    .logo .site-title-1 {
        font-size: 50px;
    }
    .license {
        max-width:350px;
    }

    .comment {
        margin-top: -50px;
    }
    
}

@media (min-width: 768px) {   
    #header {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 52px 0 47px;
    }

    .concept-b {
        width: 155px;
    }
    
    .concept-b img {
        max-width: 115px;
    }
    
    .footer-b {
        display: flex;
        justify-content: space-between;
    }

    .license {
        order:1;
        width: 33%;
    }

    .copyright-b {
        flex-direction: column;
        text-align: center;
        order:2;
        padding: 0 30px 0;
        width: 34%;
    }

    .developers {
        order:3;
        width: 33%;
    }
    .comment {
        margin-top: -50px;
    }
}
@media (min-width: 992px) {
    .concept-b {
        width: 210px;
    }
    
    .concept-b img {
        max-width: 170px;
    }
    
    .menu {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px 0 0;
    }

    .menu li {
        display: block;    
    }
    
    h1 {
        font-size: 33px;
    }

    h1:first-letter {
        font-size: 36px;
    }
    
    #letter-links a {
        font-size: 17px;
    }    
}

@media (min-width: 1200px) {
    .concept-b {
        width: 260px;
    }
    
    .concept-b img {
        max-width: 220px;
    }
    
   .left-column h2 {
        font-size: 18px;
    }
    .left-column {
        padding: 27px 30px 85px 64px;
    }
    #letter-links a {
        font-size: 24px;
    }
}
