.table-interpretations,
.table-interpretations-translations {
    width: 100%;
}

.table-interpretations th:first-letter,
.table-interpretations-translations th:first-letter {
    text-transform: uppercase;    
}

.table-interpretations th,
.table-interpretations-translations th {
    padding-bottom: 10px;
    padding-right: 10px;
}

.table-interpretations td,
.table-interpretations-translations td {
    padding-right: 10px;
}
/*
.table-interpretations-translations tr td:not(:first-child) {
    width: 50%;
}
*/
.table-interpretations tr td:not(:first-child) {
    width: 100%;
}

.show-meaning-translation {
    padding-left: 25px;
}

.add-new-meaning {
    margin-bottom: 20px;
}

.lemma-meaning {
    display: block;
}
.lemma-meaning h4 {
    margin-top: 25px;
}

.show-more-examples,
.hide-more-examples {
    display: block;
    cursor: pointer;
    text-align: right;
}

.more-examples {
    display: none;
}

.lemma-examples td {
    padding-right: 10px;
    vertical-align: top;
}

.lemma-examples td:last-child {
    padding-bottom: 20px;
}

.lemma-feature-field {
    display: none;
}

.relevance {
    padding-right: 20px;    
}

.relevance-10 {
    color: green;
}

.relevance-7 {
    color: blue;
}

.relevance-5 {
    color: orange;
}

.relevance-3 {
    color: grey;
}

.sentence-edit {
    color: #666;
}
.unchecked-count {
    color: red;
}

.add-example {
    color: #f0ad4e;
    cursor: pointer;
    margin-left: 10px;
}

.remove-example {
    color: #666;
    cursor: pointer;
    margin-left: 10px;
}

.sentence-edit:hover {
    text-decoration: none;
}

.add-phrase {
    color: #337ab7;
}

.word-form-table th,
.word-form-table td {
    padding: 5px 10px;
}

.word-form-table td {
    padding: 0 5px;
/*    width: 33%; */
}

.big-size {
    font-size: 18px; 
    line-height: 14px;
    letter-spacing: 2px;
}

.big-size a {
    text-decoration: none;
}

.big-size a:hover {
    text-decoration: underline;
}

.rwd-table .to-right {
    text-align: right;
}

h4 .fa {
    margin-left: 20px;
}

.reload-examples {
    cursor: pointer;
}

.img-loading,
.img-loading_stem-affix{
    display: none;
}

.reload-wordforms,
.reload-stem-affix-by-wordforms {
    cursor: pointer;
}

#lemmaStemAffix {
    font-weight: bold;
    font-size: 14px;
    color: gray;
}

@media screen and (min-width: 767px) {
    .lemma-meaning {
        display: flex;
    }

    .lemma-meaning-left {
        padding-right: 20px;
    }
}