/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2016, 1:12:18 AM
    Author     : componavt
*/

@import url(fonts.css);

.fa-btn {
    margin-right: 6px;
}

.navbar-default .navbar-nav > li > a {
    text-transform: capitalize;
}

.table-bordered td,
.table-bordered th {
    padding: 5px 10px;
}

.footer {
    background-color: #f8f8f8;
    border-top: #e7e7e7 1px solid;
    font-style: italic;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.small-form {
    min-width: 300px;
    width: 30%;
}

.corpus-text td:first-child{
    padding-right: 20px;
}

.form-group label:first-letter {
    text-transform: uppercase;
}

.form-control-sized {
    padding: 6px 12px;
}