/* meanings is not checked and the lemma has more than one meaning = red */
.lemma-linked.meaning-polysemy {
    color: red;
}

/*  meanings is not checked and the lemma has one meaning = blue */
.lemma-linked.meaning-not-checked {
    color: #337ab7;
}

.lemma-linked.meaning-checked.gramset-not-checked,
.lemma-linked.meaning-checked.gramset-polysemy,
.lemma-linked.meaning-not-checked.gramset-checked {
    color: #2eafaf;
}


