@import url(general.css);

.page-b {
    line-height: 150%;
    font-size: 16px;
    text-align: justify;
}

#letter-b {
    background-color: #f9f8f8;
    padding: 13px 15px 0;
}

.gram-b {
    margin-top: 10px;
}

#letter-links a {
    cursor: pointer;
    padding: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #911917;
    font-weight: bold;
    font-size: 14px;
}

#gram-links a {
    cursor: pointer;
    padding: 0 7px 2px 7px;
    text-decoration: underline;
    font-style: italic;
}

#letter-links .letter-active,
#gram-links .gram-active {
    background-color: #e31e24;
    color: #fff;
    text-decoration: none;
}

#letter-links .letter-active:hover,
#gram-links .gram-active {
    color: #fff;
    text-decoration: none;
}

#letter-links a:hover {
    color: #e31e24;
    text-decoration: underline;
}

.arrow {
    border: solid #972d1a;
    border-width: 2px 2px 0 0;
    display: inline-block;
    cursor: pointer;
  width: 15px;
  height: 15px;
}

.up {
    transform: rotate(-45deg) skew(7deg, 7deg);
    -webkit-transform: rotate(-45deg) skew(7deg, 7deg);
}

.down {
  transform: rotate(135deg) skew(7deg, 7deg);
  -webkit-transform: rotate(135deg) skew(7deg, 7deg);
}

.lemma-active {
    font-weight: bold;
    text-decoration: none; 
}

.audio-button {
    display: inline-block;
    position: relative;
    top: 5px;
}

.lemma-b div.essential_audio.circle {
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 8px 0 5px 10px;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div {
    width: 26px;
    height: 20px;
    top: -8px;
    left: 0;
    margin-left: 2px;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div:after {
    top: -1px;
    left: -1px;
    width: 68%;
    height: 68%;
}

.lemma-b h3 {
    font-weight: bold;
    font-size: 16px;
}

.lemma-phrase {
    position: relative;
    margin-bottom: 5px;
}

#lemma-phrases {
    margin-top: 10px;
    padding-left: 25px;
}

#lemma-phrases .essential_audio {
    position: absolute;  
    left: -35px;
    top: -7px;
}
.lemma-b .lemma-phrase div.essential_audio.circle > div:nth-child(1) div {
    top: 2px;
    left: 0px;
}
/*#lemma-phrases .essential_audio {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 0 5px 0 0;
}

#lemma-phrases div.essential_audio.circle > div:nth-child(1) div {
    width: 20px;
    height: 20px;
}

#lemma-phrases div.essential_audio.circle > div:nth-child(1) div:after {
    top: 0;
    left: 1px;
    width: 80%;
    height: 80%;
}*/

.right-column h2 {
    color: #e31e24;
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px 5px 0 0;
}

.right-column .col {
    padding-left: 0;
    padding-right: 0;
}

.wordforms-b .col {
    padding-top: 20px;
}

.wordforms-b table {
    margin-left: 4px;
/*    margin-right: -4px;*/
}

s {
    text-decoration: none;
}

.word-marked {
    background: #fefea6;
}

.lemma-b.row {
    margin: 0;
}

.lemma-b h3 {
    font-size: 20px;
}

/*.lemma-meaning-b {
    padding-left: 20px;
}*/

/*.meaning-b {
    display: flex;
    justify-content: space-between;    
}*/

.lemma-meaning-text {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.lemma-pos {
    color: #808080;
    font-size: 14px;
    font-style: italic;
}

.meaning-photo { 
/*    padding: 0 0 10px 10px;
    text-align: right;*/
    margin-bottom: 10px;
    width: 100%;
}

.meaning-photo img { 
    width: 100%;
    height: auto;
}

.meaning-sentence {
    margin-bottom: 20px;
}

.meaning-sentence-trans {
    font-style: italic;
    padding: 5px 0 0;
}

.lemma-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wordform-link {
    cursor: pointer;
    font-size: 20px;
/*    text-decoration: none;*/
}

.wordforms-b {
/*    display: none;*/
    padding: 35px 0 0 20px;
}

#search-form {
    margin: 30px 0 0;
    text-align: left;
}

#search-form input[type=text] {
    padding: 0 15px;
/*    text-align: center;*/
    width: 100%;
}

.developers {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    max-width: 330px;
    min-height: 120px;
    padding: 0 0 30px 113px;
    position: relative;
}

.license {
    color: #d4d4d4;
    font-size: 15px;
    font-style: italic;
    line-height: 22px;
    padding-bottom: 30px;
    max-width: 300px;
}

.copyright-b {
    align-items: center;
    display: flex;
    font-size: 15px;
    line-height: 20px;
/*    margin: -10px;*/
    max-width: 260px;
/*    text-align: center;*/
    position: relative;
}

.copyright-b img{
    display: inline-block;
    padding: 0 10px 10px 0;
}

.copyright-b a {
    color: #fff;  
    text-decoration: none;
}

label {
  display: inline;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

h1 {
    color: #ef3928;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    padding-left: 43px;
    position: relative;
}

.menu a {
/*    text-decoration: none;*/
}

.relations-b {
    padding-left: 20px;
}

.romb {
    align-items: center;
    background: 
        linear-gradient(to top right, transparent calc(49.5% - 3px), #972d1a calc(49.5% - 2px), #972d1a 49.5%, transparent 50%) top right, 
        linear-gradient(to top left, transparent calc(49.5% - 3px), #972d1a calc(49.5% - 2px), #972d1a 49.5%, transparent 50%) top left, 
        linear-gradient(to bottom right, transparent calc(49.5% - 3px), #972d1a calc(49.5% - 2px), #972d1a 49.5%, transparent 50%) bottom right, 
        linear-gradient(to bottom left, transparent calc(49.5% - 3px), #972d1a calc(49.5% - 2px), #972d1a 49.5%, transparent 50%) bottom left;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    display: inline-block;
    height: 21px;
    justify-content: center;
    margin-right: 5px;
    width: 11px;
}

.romb:before {
    content: "";
    display: inline-block;
    padding-top: 57.73%;
}
/*****************************/
.corpus_means_text {
    color: #5b5b5b;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    padding-bottom: 20px;
}

.in_numbers {
    background-color: #f1efef;
    background-image: url(../images/bg_in_numbers_top.png),
                url(../images/bg_in_numbers_bottom.png);
    background-position: top left, bottom left;
    background-repeat: repeat-x;
    color: #202020;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 30px 20px;
}

.in_numbers-b {
    align-items: center;
    color: #ef3928;
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-start;
    line-height: 18px;
    margin-top: 20px;
}

.in_numbers-n {
    font-size: 35px;
    padding-right: 10px;
}

.table-bordered td,
.table-bordered th {
    padding: 5px 10px;
}


.corpus-text td:first-child{
    padding-right: 20px;
}

.table th:first-letter {
    text-transform: uppercase;    
}

.warning {
    color: red;
}

.special-symbols-link {
    color: #e31e24;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 7px;
    text-align:right;
    top: 4px;
    text-decoration: none;
    /*width: 300px;*/
}

.add-more {
    color: #c9302c;
    cursor: pointer;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 15px;
/*    text-align:right;*/
    top: 6px;
}
/*
.form-inline .special-symbols-link {
    top: 0;
}
*/
.special-symbols {
    background: #fff;
    border: 1px solid #972d1a;
    display: none;
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 170px;
    z-index: 999;
}
/*
.form-inline .special-symbols {
    top: -25px;
}
*/
.special-symbol-b {
  overflow: hidden;
  height: 20px;
  width: 30px;
  margin: 0;
  border: 1px solid rgba(128,128,128,.13);
  padding: 0;
  border-radius: 0;
}    
/*    background-color: #facec6;
    border-color: #fcaa9c; 
    font-size: 14px;
    line-height: 14px;
    padding: 0 1 1;
}*/

.special-symbol-sup {
    font-size: 8px;
    margin-right: 20px;
    padding: 0 5px 7px 10px;
}

.special-symbols-header {
    background: #972d1a;
    height: 25px;
    position: relative;
}

.special-symbols-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px 10px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.special-symbols-body {
    padding: 2px;
}
.buttons-div {
    margin: -10px 0 -10px;
    text-align: right;
}

.block-list {
    padding-bottom: 20px;
}

.block-list h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.block-list p {
    margin-bottom: 0;
}

.block-list a {
    color: #a1a1a1;
    font-size: 18px;
}

.block-list a span {
    color: #040404;
}

.block-list .full-list {
    padding-top: 5px;
}

.block-list .full-list a {
    color: #ef3928;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

.datetime {
    color:#5b5b5b;
    font-size: 14px;
    font-style: italic;
}

.date {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;
}

.date-b {
    display: flex;
}

.date-b>div {
    display: block;
    padding-left: 20px;
}
.date-b .time {
    display: block;
    color:#999;
    padding-left: 20px;
}

.table-wide {
    width: 100%;
}

.table-wide th {
    text-align: center;
}

.table-wide th::first-letter {
    text-transform: uppercase;
}

.table-wide td {
    padding: 10px 15px;
}

.condensed>div {
    padding-right: 5px;
    padding-left: 5px;

}

.with-first-big-letter::first-letter {
    text-transform: uppercase;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    background-color: #972d1a;
    border-color: #972d1a;
}

.pagination > li > a, 
.pagination > li > span {
    color: #972d1a;
}

.imp {
    color: #972d1a;
}

.figure {
/*    background: #f1efef;*/
    padding: 1% 5%;
    text-align: center;
}

.figure img {
    display: block;
    height:auto;
    margin: 1% auto;
    max-width:100%;
}

.figure-caption {
    display: block;
    font-style: italic;
    padding-top: 10px;
}

.publ-title {
    font-size: 16px;
}

.rwd-table .number-cell {
    font-size: 16px;
    text-align: center;
}

.form-group .select2-container--default .select2-selection--single {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.075);
    border-color: #ccc;
    height: 34px;
}

.form-group .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 3px 20px 3px 13px;
}

.select2-selection li {
    white-space: pre-line;
}

.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 4px;
}

.comment {
    color: #666;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-left: 5px;
}

.search-b {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    
}

.search-b .form-group {
    margin-bottom: 0;
}

.help-section h5 {
    color: #c9302c;
}

.call-add {
    color: #972d1a;
    cursor: pointer;
}

.blink {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
} 

@keyframes blink {  
  0% { color: red; }
  100% { color: black; }
}
@-webkit-keyframes blink {
  0% { color: red; }
  100% { color: black; }
}

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.form-flex .form-group {
    width: 100%;
    margin-right: 20px;
}

.select2-selection__choice {
    font-size: 12px;
}

.help-list {
    margin: 10px 0;
}

.help-list td {
    vertical-align: top;
}

.help-list th {
    color: #972d1a;
    font-weight: bold;
    padding-right: 20px;
    text-align: left;
    vertical-align: top;
}

.mobile-b {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
}

.mobile-b img {
    padding-right: 10px;
}

.flex-hor-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-hor-group .form-group {
    margin-bottom: 5px;
}

.clickable {
    cursor: pointer;
}

.hor_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header {
    padding: 30px 0 20px;
}
.logo {
    display: block;
}

.logo img {
    height: auto;
    padding-right: 20px;
    width: 339px; 
}

.logo a {
    color: #ff3723;
    font-size: 18px;
    text-decoration: none;
}
.logo .site-title-1 {
    color: #e3000f;
    display: block;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
}

.logo .site-title-2 {
    color: #e51220;
    display: block;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 25px;
}

.logo a:hover {
    color: #ff3723;
}

.lang-sm.lang-lbl {
    color: #7d7d7d;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 5px;
    line-height: 16px;
}

.menu {
    padding: 20px 0 0;
}

.menu li {
    display: inline-block;    
}

.menu-help {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 35px;
    padding-left: 20px;
    text-decoration: underline;
}

.main-panel {
    border: 2px #d6d6d6 solid;
/*    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;*/
}

.main-panel.row {
    margin: 0;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.left-column {
    padding: 27px 50px 30px 40px;
}

.right-column {
    padding: 0 50px 85px 39px;
}

.left-column h2 {
    color: #040404;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
}

.left-column .arrow {
    border-color: #474747;
    margin-left: 5px;
}

.left-column .inactive {
    border-color: #dadada;
    cursor:default;
}

#lemma-l {
    border-top: 2px #dadada solid;
    margin-bottom: 5px;
}

#lemma-l p{
    border-bottom: 2px #dadada solid;
    margin: 0;
    padding: 7px 0;
}

#lemma-l a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #525252 transparent transparent transparent;
  border-width: 8px 8px 0 8px;
  margin-left: -12px;
  margin-top: 0;
}

.form-group .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #525252 transparent;
  border-width: 0 8px 8px 8px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #e31e24 1px;
}

.form-group .select2-container--default .select2-selection--multiple {
    border-color: #ccc;
}

.form-control:focus {
  border-color: #e31e24;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(227, 30, 36,.6);
}

.form-group .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #e31e24;
}

.form-group .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #e31e24;
  color: white;
}

    input[type="checkbox"] {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    /* для элемента label, связанного с .custom-checkbox */
    input[type="checkbox"]+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    
    input[type="checkbox"]+label {
        color: #8a8a8a;
        font-style: italic;
    }
    
    /* создание в label псевдоэлемента before со следующими стилями */
    input[type="checkbox"]+label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
/*      border-radius: 0.25em;*/
      margin-right: 15px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.075);
    }

    /* стили при наведении курсора на checkbox */
    input[type="checkbox"]:not(:disabled):not(:checked)+label:hover::before {
      border-color: #e31e24;
    }

    /* стили для активного чекбокса (при нажатии на него) */
    input[type="checkbox"]:not(:disabled):active+label::before {
      background-color: #e31e24;
      border-color: #e31e24;
    }

    /* стили для чекбокса, находящегося в фокусе */
    input[type="checkbox"]:focus+label::before {
      box-shadow: 0 0 0 0.2rem rgba(227, 30, 36, 0.25);
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    input[type="checkbox"]:focus:not(:checked)+label::before {
      border-color: #e31e24;
    }

    /* стили для чекбокса, находящегося в состоянии checked */
    input[type="checkbox"]:checked+label::before {
      background-color: #e31e24;
      border-color: #e31e24;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

.right-column div.essential_audio.circle > div:nth-child(2)::after {
    background-color: #e31e24;
}

.wordforms-b .wordform-title {
    color: #fff;
    background-color: #e31e24;
    font-size: 20px;
    font-weight: bold;
    padding: 0 7px 2px;
}

.wordforms-b td, th {
  padding: 5px 7px;
}

.wordforms-b table {
  border-spacing: 4px;
  border-collapse: separate;
}

.wordforms-b .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #d8d8d8;
}

.wordforms-b .table-striped > tbody > tr:nth-of-type(2n) {
  background-color: #ededed;
}

@media screen and (min-width: 576px) {   
.right-column .col {
    padding-left: 15px;
    padding-right: 15px;
}

.right-column .col.wordforms-b {
    padding-right: 0;
    }

    .license {
        max-width:350px;
    }

    .comment {
        margin-top: -50px;
    }
}

@media screen and (min-width: 768px) {   
    #header {
      padding: 52px 0 47px;
    }
    .left-column {
      padding: 27px 20px 30px 40px;
    }
    .right-column {
        padding-top: 27px;
    }
    .logo {
        display: flex;
        align-items: flex-end;
    }
    .menu {
        padding: 20px 0 0 339px;
    }
    .gram-b {
      margin-bottom: 20px;
    }
    .left-column h2 {
        font-size: 17px;
    }
    .footer-b {
        display: flex;
        justify-content: space-between;
    }

    .license {
        order:1;
        width: 33%;
    }

    .copyright-b {
        flex-direction: column;
        text-align: center;
        order:2;
        padding: 0 30px 0;
        width: 34%;
    }

    .developers {
        order:3;
        width: 33%;
    }
    .comment {
        margin-top: -50px;
    }
}
@media screen and (min-width: 992px) {
    #header {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    
    .menu {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px 0 0;
    }

    .menu li {
        display: block;    
    }
    
    h1 {
        font-size: 33px;
    }
}
@media (min-width: 992px) {
    #letter-links a {
        font-size: 17px;
    }    
}

@media screen and (min-width: 1200px) {
    .left-column h2 {
        font-size: 18px;
    }
    .left-column {
        padding: 27px 30px 85px 64px;
    }
    #letter-links a {
        font-size: 24px;
    }
}
