@import url(buttons.css);
@import url(fonts.css);
@import url(forms.css);

body {
    background: url(/images/bg_decor.png) 0 0 no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a,
a:active,
a:focus,
a:hover {
    color: #972d1a;
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: auto;
    padding: 20px 20px 0 0;
    width: 100px; 
}

.logo a {
    color: #ff3723;
    font-size: 18px;
    text-decoration: none;
}

.logo a:hover {
    color: #ff3723;
}

#letter-links,
#gram-links {
    margin-bottom: 10px;
}

#letter-links a {
    cursor: pointer;
    padding: 0 7px;
    text-decoration: none;
    text-transform: uppercase;
}

#gram-links a {
    cursor: pointer;
    padding: 0 7px 2px 7px;
    text-decoration: none;
}

.letter-active {
    background-color: #972d1a;
    color: #fff;
}

.letter-active:hover {
    color: #fff;
    font-weight:bold;
    text-decoration: none;
}

.gram-active {
    border: 1px solid #972d1a;
    border-radius: 5px;
}

.main-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.left-column {
    background-color: #ccc;
    text-align: center;
}

.right-column {
    border: 1px #ccc solid;
    padding: 20px;
}

.arrow {
    border: solid #972d1a;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.lemma-active {
    font-weight: bold;
    text-decoration: none; 
}

.audio-button {
    display: inline-block;
    position: relative;
    top: 5px;
}

.lemma-b div.essential_audio.circle {
	border-radius: 2px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border-radius: 15px;
        margin: 0 0 5px 10px;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div {
	width: 30px;
	height: 30px;
	border-radius: 0px!important;
	background-color: transparent!important;
}

.lemma-b div.essential_audio.circle > div:nth-child(1) div:after {
	top: 2px;
	left: 5px;
	width: 68%;
	height: 68%;
}

.lemma-b h2 {
    display: flex;
    margin-bottom: 10px;
    padding: 15px 5px 0 0;
}

s {
    text-decoration: none;
}

.word-marked {
    background: #fefea6;
}

.lemma-b {
    display: flex;
    align-items: flex-start;
}

.lemma-b h3 {
    font-size: 20px;
}

.lemma-meaning-b {
    padding-left: 20px;
}

.meaning-sentence {
    margin-bottom: 10px;
}

.meaning-sentence-trans {
    font-style: italic;
    padding: 5px 0 0 15px;
}

.lemma-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wordform-link {
    cursor: pointer;
    font-size: 20px;
/*    text-decoration: none;*/
}

.wordforms-b {
    display: none;
    padding: 20px 0 0 20px;
}

.menu {
    text-align: right;
}

.main-panel.row {
    margin: 0;
}

.menu li {
    display: inline-block;    
}

#search-form {
    margin: 10px;
    text-align: left;
}

#search-form input[type=text] {
    padding: 0 15px;
/*    text-align: center;*/
    width: 100%;
}

.footer {
    background-color: #373737;
    color: #fff;
    margin-top: 35px;
    padding: 35px 0 100px;
}

.footer-right-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 12%;
}

.developers {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    max-width: 350px;
    min-height: 150px;
    padding: 0 0 20px 113px;
    position: relative;
}

.developers:before {
    background: #fefefe url(../images/krc-logo.png) 50% 32px no-repeat;
    border-top: 2px solid #dbd8d8;
    content: '';
    height: 136px;
    left: 0;
    position: absolute;
    top: -35px;
    width: 98px;
}

.developers a {
    color: #fff;
    text-decoration: none;
}

.license {
    color: #d4d4d4;
    font-size: 15px;
    font-style: italic;
    line-height: 22px;
    max-width: 350px;
}

.license a {
    color: #6d6d6d;
    text-decoration: underline;
}

.copyright {
    border-top: 2px solid #515151;
    margin-top: 40px;
    padding-top: 50px;
}

.copyright-b {
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 320px;
    padding: 10px 0 0 100px;
    position: relative;
}

.copyright-b:before {
    background: url(../images/logo-grey.png) 0 0 no-repeat;
    content: '';
    height: 77px;
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}

.copyright-b a {
    color: #fff;    
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

h1 {
    color: #ef3928;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    padding-left: 43px;
    position: relative;
}

h1:before {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    content: '';
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.menu li {
    margin-left: 10px;
}

.menu a {
    text-decoration: none;
}

/*****************************/
.link-color {
    color: #972d1a;    
}

.btn {
    text-decoration: none;
}
.panel-default {
    border-color: #d6d6d6;
    border-radius: 0;
}

.panel-body {
    font-size: 14px;
    padding: 36px 4% 37px;
    line-height: 150%;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 0 20px;
}

.text-page {
    line-height: 22px;
    padding-top: 20px;
}
.text-page p {
    margin: 0 0 20px;
}

.corpus_means_text {
    color: #5b5b5b;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    padding-bottom: 20px;
}

.in_numbers {
    background-color: #f1efef;
    background-image: url(../images/bg_in_numbers_top.png),
                url(../images/bg_in_numbers_bottom.png);
    background-position: top left, bottom left;
    background-repeat: repeat-x;
    color: #202020;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 30px 20px;
}

.in_numbers-b {
    align-items: center;
    color: #ef3928;
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-start;
    line-height: 18px;
    margin-top: 20px;
}

.in_numbers-n {
    font-size: 35px;
    padding-right: 10px;
}

.table-bordered td,
.table-bordered th {
    padding: 5px 10px;
}


.corpus-text td:first-child{
    padding-right: 20px;
}

.table th:first-letter {
    text-transform: uppercase;    
}

.warning {
    color: red;
}

.special-symbols-link {
    color: #c9302c;
    cursor: pointer;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 5px;
    text-align:right;
    top: 0;
    /*width: 300px;*/
}

.add-more {
    color: #c9302c;
    cursor: pointer;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 15px;
/*    text-align:right;*/
    top: 6px;
}
/*
.form-inline .special-symbols-link {
    top: 0;
}
*/
.special-symbols {
    display: none;
    position: absolute;
    right: 0;
    text-align:right;
    top: -25px;
    width: 300px;
}
/*
.form-inline .special-symbols {
    top: -25px;
}
*/
.special-symbol-b {
    background-color: #facec6;
/*    border: 1px solid #fcaa9c;*/
    border-color: #fcaa9c; 
    font-size: 14px;
/*    font-weight: bold;*/
    line-height: 14px;
    padding: 0 1 1;
}

.special-symbol-sup {
    font-size: 8px;
    margin-right: 20px;
    padding: 0 5px 7px 10px;
}

.buttons-div {
    margin: -10px 0 -10px;
    text-align: right;
}

.block-list {
    padding-bottom: 20px;
}

.block-list h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.block-list p {
    margin-bottom: 0;
}

.block-list a {
    color: #a1a1a1;
    font-size: 18px;
}

.block-list a span {
    color: #040404;
}

.block-list .full-list {
    padding-top: 5px;
}

.block-list .full-list a {
    color: #ef3928;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

.datetime {
    color:#5b5b5b;
    font-size: 14px;
    font-style: italic;
}

.date {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;
}

.date-b {
    display: flex;
}

.date-b>div {
    display: block;
    padding-left: 20px;
}
.date-b .time {
    display: block;
    color:#999;
    padding-left: 20px;
}

.table-wide {
    width: 100%;
}

.table-wide th {
    text-align: center;
}

.table-wide th::first-letter {
    text-transform: uppercase;
}

.table-wide td {
    padding: 10px 15px;
}

.condensed>div {
    padding-right: 5px;
    padding-left: 5px;

}

.with-first-big-letter::first-letter {
    text-transform: uppercase;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    background-color: #972d1a;
    border-color: #972d1a;
}

.pagination > li > a, 
.pagination > li > span {
    color: #972d1a;
}

.imp {
    color: #972d1a;
}

.figure {
/*    background: #f1efef;*/
    padding: 1% 5%;
    text-align: center;
}

.figure img {
    display: block;
    height:auto;
    margin: 1% auto;
    max-width:100%;
}

.figure-caption {
    display: block;
    font-style: italic;
    padding-top: 10px;
}

.publ-title {
    font-size: 16px;
}

.rwd-table .number-cell {
    font-size: 16px;
    text-align: center;
}

.form-group .select2-container--default .select2-selection--single {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.075);
    border-color: #ccc;
    height: 34px;
}

.form-group .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 3px 20px 3px 13px;
}

.select2-selection li {
    white-space: pre-line;
}

.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 4px;
}

.comment {
    color: #666;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-left: 5px;
}

.search-b {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    
}

.search-b .form-group {
    margin-bottom: 0;
}

.help-section h5 {
    color: #c9302c;
}

.call-add {
    color: #972d1a;
    cursor: pointer;
}

.blink {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
} 

@keyframes blink {  
  0% { color: red; }
  100% { color: black; }
}
@-webkit-keyframes blink {
  0% { color: red; }
  100% { color: black; }
}

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.form-flex .form-group {
    width: 100%;
    margin-right: 20px;
}

.select2-selection__choice {
    font-size: 12px;
}

.help-list {
    margin: 10px 0;
}

.help-list td {
    vertical-align: top;
}

.help-list th {
    color: #972d1a;
    font-weight: bold;
    padding-right: 20px;
    text-align: left;
    vertical-align: top;
}

.mobile-b {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
}

.mobile-b img {
    padding-right: 10px;
}

.flex-hor-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-hor-group .form-group {
    margin-bottom: 5px;
}

.clickable {
    cursor: pointer;
}

.hor_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (min-width: 576px) {   
.logo img {
    padding: 25px 25px 0 0;
    width: 130px; 
}
.logo a {
    font-size: 24px;
}
    .comment {
        margin-top: -50px;
    }
}
@media screen and (min-width: 768px) {   
.logo img {
    padding: 30px 30px 0 0;
    width: 160px; 
}
.logo a {
    font-size: 36px;
}
    .comment {
        margin-top: -50px;
    }
}
@media screen and (min-width: 992px) {
    h1 {
        font-size: 33px;
    }
    h1:before {
        top: 7px;
    }
    h2 {
        font-size: 24px;
    }
}
@media screen and (min-width: 1200px) {
    h2 {
        font-size: 26px;
    }
}
@media screen and (max-width: 1199px) {
    .developers {
        font-size: 14px;
        line-height: 18px;
    }
}