s {
/*    display: block;
    margin-bottom: 20px;*/
    text-decoration: none;
}

.numered-sentence {
    margin-bottom: 20px;
}

.word-marked {
    background: #fefea6;
}

.lemma-linked,
.call-add-wordform {
    cursor:pointer;
}

.links-to-lemmas {
    cursor: auto;
}
/* all is checked = green */
.lemma-linked.meaning-checked.no-gramsets,
.lemma-linked.meaning-checked.gramset-checked{
    color: #2eaf38; 
}

/*  meanings is not checked and the lemma has one meaning = blue */
.lemma-linked.meaning-not-checked {
    color: #337ab7;
}

.lemma-linked.meaning-checked.gramset-not-checked,
.lemma-linked.meaning-not-checked.gramset-checked{
    color: #2eafaf;
}

/* meanings is not checked and the lemma has than one meaning = red */
.lemma-linked.polysemy {
    color: red;
}

.lemma-linked p {
    margin: 0;
}

.links-to-lemmas {
    background: #dcf7f8;
    color: black;
    display: none;
    left: 0;
    margin-top: -2px;
/*    max-width: 200px;*/
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 200px;
    z-index:100;
}

.meaning-checked.no-gramsets .links-to-lemmas,
.meaning-checked.gramset-checked .links-to-lemmas,
.word-checked {
    background: #a6f4bc;
}
/*
.not-checked .links-to-lemmas,
.polysemy .links-to-lemmas {
    background: #dcf7f8;
}*/
.links-to-lemmas a {
    text-decoration: none;
/*    display: block; */
}

.links-to-lemmas a:hover {
    text-decoration: underline;
}

.links-to-lemmas a span {
    color: black;
}

.links-to-lemmas h3 {
    font-size: 14px;
    margin: 0;
    text-align: right;
}

.links-to-lemmas .lemma_b {
    border-bottom: 1px #040404 dashed;
    margin-bottom: 10px;
}

.links-to-lemmas .lemma_b:last-of-type {
    border-bottom: 0;
}

.links-to-lemmas .meanings_b {
    color: #5173d8;
    padding-left: 10px;    
}

.links-to-lemmas .meanings_b p,
.links-to-lemmas .gramsets_b p {
    margin-bottom: 0;
}


w, .text-has-checked-meaning {
    position: relative;
}

.text-has-checked-meaning button {
    bottom: -30px;
    /*height: 20px;*/
    right: 0;
    padding: 3px 12px;
/*    position: absolute;*/
}


textarea.form-control[readonly] {
    border: 1px solid red;
}

ol {
    list-style-position: inside;
    padding-left: 5px;
}

.text-example-edit {
    display: block;
    margin-bottom: 0;
    text-align: right;
}

.text-example-edit a {
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

.links-to-lemmas .choose-meaning,
.links-to-lemmas .choose-gramset {
    color: #f0ad4e;
    cursor: pointer;
    padding-left: 10px;
}
/*
.links-to-lemmas div:last-of-type {
    margin-bottom: 10px;
}
*/
.corpus-text td:first-of-type {
    padding-right: 20px;
}

.corpus-text td:last-of-type {
    padding-left: 20px;
}

.lemma-linked .word-gramset,
.lemma-linked .word-gramset-not-checked {
    border-top: 1px dashed gray;
    font-style: italic;
    margin-top: 5px;
    padding-top: 5px;
}

.lemma-linked .word-gramset {
    color: #c25a22;
}

.lemma-linked .word-gramset-not-checked {
    color: black;
}

.modal-body {
    position: relative;
}

.link-in-form-field {
    margin-bottom: -5px;
    text-align: right;
}

#call-add-lemma {
    cursor: pointer;
}

.gramset-b {
    border-top: 1px dashed gray;
    padding-top: 5px;
}

.update-word-block {
    padding-right: 10px;
    cursor: pointer;
}

#prediction-block .waiting {
    display: none;
}

.sentence-edit,
.markup-sentence {
    color: #972d1a;
    cursor: pointer;
}

.word-linked {
    cursor: pointer;
}

.word-linked:hover {
/*    text-decoration: underline;*/
    border-bottom: 1px #972d1a dashed;
}

.load-context {
    color: #972d1a;
    cursor: pointer;
}