s {
/*    display: block;
    margin-bottom: 20px;*/
    text-decoration: none;
}

.numered-sentence {
    margin-bottom: 20px;
}

.word-marked {
    background: #fefea6;
}

.lemma-linked,
.call-add-wordform {
    cursor:pointer;
}

.lemma-linked.not-checked {
    color: #337ab7;
}

.lemma-linked.has-checked {
    color: #2eaf38;
}

.lemma-linked.polysemy {
    color: red;
}

.links-to-lemmas {
    background: #ccc;
    color: black;
    display: none;
    left: 0;
    margin-top: -2px;
/*    max-width: 200px;*/
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 200px;
    z-index:100;
}

.has-checked .links-to-lemmas {
    background: #a6f4bc;
}

.not-checked .links-to-lemmas,
.polysemy .links-to-lemmas {
    background: #dcf7f8;
}
/*
.links-to-lemmas a {
    display: block;
}
*/
.links-to-lemmas a span {
    color: black;
    text-decoration: none;
}

w, .text-has-checked-meaning {
    position: relative;
}

.text-has-checked-meaning button {
    bottom: -30px;
    /*height: 20px;*/
    right: 0;
    padding: 3px 12px;
/*    position: absolute;*/
}


textarea.form-control[readonly] {
    border: 1px solid red;
}

ol {
    list-style-position: inside;
    padding-left: 5px;
}

.text-example-edit {
    display: block;
    margin-bottom: 0;
    text-align: right;
}

.text-example-edit a {
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

.links-to-lemmas .choose-meaning {
    color: #f0ad4e;
    cursor: pointer;
    padding-left: 10px;
}

.links-to-lemmas div:last-of-type {
    margin-bottom: 10px;
}

.corpus-text td:first-of-type {
    padding-right: 20px;
}

.corpus-text td:last-of-type {
    padding-left: 20px;
}

.word_gramset {
    color: #c25a22;
    font-style: italic;
}

.modal-body {
    position: relative;
}

.link-in-form-field {
    margin-bottom: -5px;
    text-align: right;
}

#call-add-lemma {
    cursor: pointer;
}