s {
/*    display: block;
    margin-bottom: 20px;*/
    text-decoration: none;
}

.numered-sentence {
    margin-bottom: 20px;
}

.word-marked {
    background: #fefea6;
}

.lemma-linked,
.call-add-wordform {
    cursor:pointer;
}

.add-wordform-link {
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
    color: #fff;
    margin: 5px 0;    
}
.links-to-lemmas {
    cursor: auto;
}
/* all is checked = green */
.lemma-linked.meaning-checked.no-gramsets,
.lemma-linked.meaning-checked.gramset-checked{
    color: #2eaf38; 
}

/*  meanings is not checked and the lemma has one meaning = blue */
.lemma-linked.meaning-not-checked {
    color: #337ab7;
}

.lemma-linked.meaning-checked.gramset-not-checked,
.lemma-linked.meaning-not-checked.gramset-checked{
    color: #2eafaf;
}

/* meanings is not checked and the lemma has than one meaning = red */
.lemma-linked.polysemy {
    color: red;
}

.lemma-linked p {
    margin: 0;
}

.links-to-lemmas {
    background: #dcf7f8;
    color: black;
    display: none;
    left: 0;
    margin-top: -2px;
/*    max-width: 200px;*/
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 200px;
    z-index:100;
}

.meaning-checked.no-gramsets .links-to-lemmas,
.meaning-checked.gramset-checked .links-to-lemmas,
.word-checked {
    background: #a6f4bc;
}
/*
.not-checked .links-to-lemmas,
.polysemy .links-to-lemmas {
    background: #dcf7f8;
}*/
.links-to-lemmas a {
    text-decoration: none;
/*    display: block; */
}

.links-to-lemmas a:hover {
    text-decoration: underline;
}

.links-to-lemmas a span {
    color: black;
}

.links-to-lemmas h3 {
    font-size: 14px;
    margin: 0;
    text-align: right;
}

.links-to-lemmas .lemma_b {
    border-bottom: 1px #040404 dashed;
    margin-bottom: 10px;
}

.links-to-lemmas .lemma_b:last-of-type {
    border-bottom: 0;
}

.links-to-lemmas .meanings_b {
    color: #5173d8;
    padding-left: 10px;    
}

.links-to-lemmas .meanings_b p,
.links-to-lemmas .gramsets_b p {
    margin-bottom: 0;
}


w, .text-has-checked-meaning {
    position: relative;
}

.text-has-checked-meaning button {
    bottom: -30px;
    /*height: 20px;*/
    right: 0;
    padding: 3px 12px;
/*    position: absolute;*/
}


textarea.form-control[readonly] {
    border: 1px solid red;
}

ol {
    list-style-position: inside;
    padding-left: 5px;
}

.text-example-edit {
    display: block;
    margin-bottom: 0;
    text-align: right;
}

.text-example-edit a {
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

.links-to-lemmas .choose-meaning,
.links-to-lemmas .choose-gramset {
    color: #f0ad4e;
    cursor: pointer;
    padding-left: 10px;
}
/*
.links-to-lemmas div:last-of-type {
    margin-bottom: 10px;
}
*/
.corpus-text td:first-of-type {
    padding-right: 20px;
}

.corpus-text td:last-of-type {
    padding-left: 20px;
}

.lemma-linked .word-gramset,
.lemma-linked .word-gramset-not-checked {
    border-top: 1px dashed gray;
    font-style: italic;
    margin-top: 5px;
    padding-top: 5px;
}

.lemma-linked .word-gramset {
    color: #c25a22;
}

.lemma-linked .word-gramset-not-checked {
    color: black;
}

.modal-body {
    position: relative;
}

.link-in-form-field {
    margin-bottom: -5px;
    text-align: right;
}

#call-add-lemma {
    cursor: pointer;
}

.gramset-b {
    border-top: 1px dashed gray;
    padding-top: 5px;
}

.update-word-block {
    padding-right: 10px;
    cursor: pointer;
}

#prediction-block .waiting {
    display: none;
}

.sentence-edit,
.markup-sentence,
.fragment-edit,
.translation-edit {
    color: #972d1a;
    cursor: pointer;
}

.word-linked {
    cursor: pointer;
}

.word-linked:hover {
/*    text-decoration: underline;*/
    border-bottom: 1px #972d1a dashed;
}

.load-context {
    color: #972d1a;
    cursor: pointer;
}

.to-markup {
    color:#972d1a;
    text-align: right; 
}

.to-markup-readonly {
    color: black; 
    font-weight:normal;
    text-decoration: line-through; 
}

.translation-view {
    padding: 0 0 20px 17px;
}

#fragment {
    margin-bottom: 10px;
}

h5 {
    color: #999
}

h5:first-letter {
    text-transform: uppercase;    
}

.corpus-text h3 {
    margin-top: 10px;
}

.topic-list {
    margin: 0 0 10px 20px;
    font-style: italic;
}

.topic-list-title {
    font-style: normal;
    font-weight: bold;
    margin: 10px 0 0 -20px;
    
}

.topic-list-title:first-letter,
.metadata-title:first-letter {
    text-transform: lowercase;
}

.metadata-title {
    display: inline-block;
    font-weight: bold;
}

.subdiv {
    margin: 0 0 20px 20px;
}

.subdiv-title {
    font-size: 16px;
}

.text-metadata a {
    text-decoration: none;
}

.text-metadata a:hover {
    text-decoration: underline;
}

.audiotext-upload {
    display: flex;
}

.photos-b {
    margin-bottom: 10px;
}

.photos-b img{
    display: inline-block;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.photo-in-modal {
    text-align:center;
}

.photo-in-modal img {
    max-width: 100%;
}

.no-wordforms {
    border-bottom: 2px red dotted;
}

.author_b img {
    max-width: 200px;
    width: 100%;
}

.button-close {
/*    border:1px #972d1a solid; */
    border-radius: 50%;
    color: #972d1a; 
    display: inline-block; 
    height: 25px; 
    cursor: pointer;
    margin-top:20px; 
    text-align: center; 
    vertical-align: middle; 
    width: 25px; 
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .photo-in-modal img {
        max-width: 568px;
    }
    .author_b img {
        max-width: 320px;
    }
}

@media (min-width: 992px) {
    .photo-in-modal img {
        max-width: 868px;
    }
}